p {
  font-family: Lato;
}
zoom {
  padding: 50px;
 
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
@media (hover: hover) {
  a:hover {
    background: yellow;
  }
}